<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.wst.server.ui.launchConfigurationType">
<stringAttribute key="client-id" value="com.sap.core.tools.eclipse.server.cloud.launch.WebLaunchableWrapper"/>
<stringAttribute key="launchable-adapter-id" value="com.sap.ljs.server.jpaas.web"/>
<stringAttribute key="module-artifact" value="org.eclipse.jst.jee.server:AtomicContent//"/>
<stringAttribute key="module-artifact-class" value="org.eclipse.wst.server.core.util.WebResource"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AtomicContent"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="server-id" value="SAP HANA Cloud Platform at hanatrial.ondemand.com"/>
</launchConfiguration>
