<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- ============================================================================= -->
<!-- Define primary TOC                                                            -->
<!-- ============================================================================= -->
   <extension
         point="org.eclipse.help.toc">
 
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   
   </extension>

<!-- ============================================================================= -->
<!-- Define individual TOCs                                                        -->
<!-- ============================================================================= -->


   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc_Concepts_Support_Info.xml">
      </toc>
      <toc
            file="toc_Tasks_Support_Info.xml">
      </toc>

   </extension>
   
<!-- ============================================================================= -->
<!-- Define help context                                                           -->
<!-- ============================================================================= -->   
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts/contexts_SupportInfo.xml">
      </contexts>
   </extension>
   
<!-- ============================================================================= -->
<!-- Define intro page extensions                                                  -->
<!-- ============================================================================= -->      
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/introABAPSupportOverview.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc_Concepts_Support_Info_Add.xml"
            primary="false">
      </toc>
      <toc
            file="toc_Tasks_Support_Info_Add.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
