<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<proxies>
		<proxy>
			<active>true</active>
			<protocol>http</protocol>
			<host>proxy</host>
			<port>8080</port>
			<nonProxyHosts>*.sap.corp|localhost</nonProxyHosts>
		</proxy>
	</proxies>
	<profiles>
                                <profile>
                                                <id>snapshot.build</id>
                                                <pluginRepositories>
                                                                <pluginRepository>
                                                                                <id>build.snapshots.repo</id>

                                                                                <url>http://nexus.wdf.sap.corp:8081/nexus/content/repositories/build.snapshots/</url>
                                                                </pluginRepository>
                                                </pluginRepositories>
                                                <repositories>
                                                                <repository>
                                                                                <id>build.snapshots.repo</id>
                                                                                <url>http://nexus.wdf.sap.corp:8081/nexus/content/repositories/build.snapshots/</url>

                                                                </repository>
                                                </repositories>
                                </profile>
		<profile>
		  <id>jenkins</id>
		  <activation>
			<activeByDefault>true</activeByDefault>
		  </activation>
		  <repositories>
			<repository>
			  <id>repo.jenkins-ci.org</id>
			  <url>http://repo.jenkins-ci.org/public/</url>
			</repository>
		  </repositories>
		  <pluginRepositories>
			<pluginRepository>
			  <id>repo.jenkins-ci.org</id>
			  <url>http://repo.jenkins-ci.org/public/</url>
			</pluginRepository>
		  </pluginRepositories>
		</profile>
	</profiles>
                <activeProfiles>
                                <!-- <activeProfile>release.build</activeProfile> -->
                                <!-- <activeProfile>milestone.build</activeProfile> -->
                                <activeProfile>snapshot.build</activeProfile>

                </activeProfiles>
	<pluginGroups>
   		<pluginGroup>org.jenkins-ci.tools</pluginGroup>
	</pluginGroups>
</settings>

